<div id="myModal" class="modal">

  <div class="modal-content">
    <div class="modal-header">
      <h4>CurrentPageGoesHere</h4>
    </div>
    <div class="modal-body">
      <p>Entityattributetablegoeshere</p>
      <div> Testing. Following form will replace /views/entities/edit. Entities found(replace w/ rels):    {{#each entities}} {{_id}} {{/each}}</div>

  </div>
<!-- Use this for the modal to allow scroll up from bottom: https://codepen.io/anon/pen/ZWWgZJ?editors=0110 -->
</div>